@font-face {
    font-family: Typewriter;
    src: url('../MonospaceTypewriter.ttf');
}

body {
	font-family: Typewriter;
	color: #bfdfff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: radial-gradient(ellipse at top, #00000f, #00003f);
}

h1 {
	font-size: 72px;
	background: radial-gradient(ellipse at top, #00f7, #0073);
	box-shadow: 0 6px 6px #007fff;
	color: #bfdfff
}

#aarMod {
	position: absolute;
	width: 480px;
	left: calc(50% - 240px);
	font-size: 36px;
	background: rgba(255, 255, 255, 0.75);
	background: -webkit-linear-gradient(0deg, #ffdf00, #00dfff);
	text-shadow: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1, h2 {
	margin-top: 0;
	margin-bottom: 3px
}

a {
	color: #33f
}

.hr {
	height: 2px;
	width: 100%;
	background: radial-gradient(ellipse at top, #00f7, #00f3);
	margin: 6px
}

.warning {
	color: red
}