.hidden {
	display: none;
}
.shown {
	display: block;
}

/* BUTTONS */
.storebtn {
    color: black;
    background: #F2F2F2;
    font-weight: bold;
    font-family: Typewriter;
    border: 1px solid #127A20;
    width: 170px;
    height: 40px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    font-size: 85%;
    margin: auto;
    display: block;
}

.storebtn:hover {
    color: #FFF;
    background: #5AC467;
}

.storebtn.infinity {
    color: #FFF;
    background: #1F1F1F;
    border: 1px solid #B67F33;
}

.storebtn.infinity:hover {
    color: #000;
    background: #B67F33;
}

.storebtn.eternity {
    color: #b341e0;
    background: black;
    border: 1px solid #b341e0;
}

.storebtn.eternity:hover {
    color: #511568;
    background: white;
}

.storebtn.quantum {
    color: #32c832;
    background: #0a640a;
    border: 1px solid #32c832;
}

.storebtn.quantum:hover {
    background: #32c832;
    color: #0a640a;
}

.storebtn.fundament {
	background: linear-gradient(#0c0033, #2e0033);
	box-shadow: inset 0px 0px 24px 0px black;
	border: 1px solid;
	animation: fundamenttext 4s linear infinite
}

.storebtn.fundament:hover {
	box-shadow: inset 0px 0px 12px 0px #420072
}

.storebtn.bl {
	background: repeating-linear-gradient(black, transparent), linear-gradient(#710, #307);
	background-size: 25% 25%, 100% 100%;
	box-shadow: inset 0 0 6px 0 #b50;
	text-shadow: 0 0 6px #f50;
	color: #db7;
	border: 1px solid #b50;
	border-radius: 4px;
	animation: bltab 4s linear infinite
}

.storebtn.bl:hover {
	box-shadow: inset 0 0 24px 0 #b50;
	color: #f50;
	text-shadow: 0 0 6px #f50;
	cursor: pointer
}

@keyframes fundamenttext { 
	0%{
		border-color: #690072;
		color: #e0ace5;
		text-shadow: 0px 0px 3px white, 0px 0px 6px #d200e5;
	}
	50% {
		border-color: #1c0072;
		color: #baace5;
		text-shadow: 0px 0px 6px white, 0px 0px 6px #3900e5;
	}
	100%{
		border-color: #690072;
		color: #e0ace5;
		text-shadow: 0px 0px 3px white, 0px 0px 6px #d200e5;
	}
}

@keyframes bltab { 
	0%{
		background-position: 0 0, 0 0
	}
	100%{
		background-position: 0 100%, 0 0
	}
}