body {
	background: radial-gradient(#bfbf5f, #2fbf2f 50%, #00bf00 100%)
}

#container div {
	color: #007200
}

.popup, .completedrow, .infinistorebtnbought, .completedchallengesbtn, .eternityupbtnbought {
	background: #bfbf78;
	border-color: #bfbf5f;
	color: black
}

.tabbtn, .secondarytabbtn, .achievementunlocked, .storebtn, .challengediv, .challengesbtn {
	background-color: #5fbf5f;
	border-color: #007200;
	color: black
}

.tabbtn:hover, .secondarytabbtn:hover, .storebtn:hover, .challengesbtn:hover {
	background: #78bf78;
	border-color: #007200;
	color: black
}

.achievementlocked, .achievementhidden, .unavailablebtn, .infinistorebtnlocked, .eternityupbtnlocked, .milestonerewardlocked, .timestudylocked, .eternitychallengestudylocked, .lockedchallengesbtn, .dilationupglocked {
	background-color: #7f7f7f !important;
	border-color: #720000 !important;
	color: black !important
}

#updaterate {
	color: black
}

#coinAmount {
	color: #007200 !important
}

#sacrificebtn, #galaxybtn, #galaxy .infinistorebtn1, #galaxy .infinistorebtn2, #galaxy .infinistorebtn3, #galaxy .infinistorebtn4 {
	background: black;
	border-color: #4169e1;
	color: #4169e1
}

#sacrificebtn:hover, #galaxybtn:hover, #galaxy .infinistorebtn1:hover, #galaxy .infinistorebtn2:hover, #galaxy .infinistorebtn3:hover, #galaxy .infinistorebtn4:hover {
	background: #4169e1;
	border-color: #4169e1;
	color: black
}

.GPAmount {
	color: #4169e1
}

#galaxyPoints, #infinityPoints1 {
	color: #007200 !important
}

#bigcrunch, #infinitybtn, #infinity .infinistorebtn1, #infinity .infinistorebtn2, #infinity .infinistorebtn3, #infinity .infinistorebtn4, .infinimultbtn, #postInfinityButton, .infchallengediv {
	background: black;
	border-color: #bfbf00;
	color: #bfbf00
}

#bigcrunch:hover, #infinitybtn:hover,  #infinity .infinistorebtn1:hover, #infinity .infinistorebtn2:hover, #infinity .infinistorebtn3:hover, #infinity .infinistorebtn4:hover, .infinimultbtn:hover, #postInfinityButton:hover {
	background: #bfbf00;
	color: black
}

.IPAmount1, .IPAmount2, #infPowAmount, #infPowEffectPower, #infDimMultAmount, .infchallengediv span, #replicantiamount, #replicantimult, #replicantiAmount2 {
	color: #bfbf00 !important
}

.challengediv span {
	color: black
}

#eternitybtn div, .eterchallengediv span {
	color: #b341e0 !important;
	transition-duration: 0.2s
}

#eternitybtn:hover div {
	color: #511568 !important
}

.EPAmount2, #timeShardAmount, #tickThreshold {
	color: #b341e0 !important
}

#quantumbtn div, .quantumchallengediv span, .quantumchallengediv .outer {
	color: #32c832 !important;
	transition-duration: 0.2s
}

#quantumbtn:hover div {
	color: #0a640a !important
}

.QKAmount {
	color: #0a640a
}

.green {
	color: #3f7f3f
}

#GHPAmount {
	animation: ghostifytext 4s linear infinite
}