#bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	z-index: -9;
	display: block !important;
	background: radial-gradient(#000f17, transparent), radial-gradient(farthest-corner at 100% 0%, #001f2f, #000000)
}

* {
	color: #bdf;
    font-family: Helvetica, Arial, sans-serif !important;
}

button {
	border: none !important;
	border-bottom: 2px solid !important;
	transition-duration: 0.5s
}
button:hover {
	transform: scale(1.05)
}

.tabbtn, .tabbtn:hover {
	background: rgba(0, 191, 255, 0.3);
	color: #7fffff
}
.secondarytabbtn, .secondarytabbtn:hover {
	background: rgba(255, 0, 0, 0.3);
	color: #ff7f7f
}
.storebtn {
	background: rgba(191, 255, 127, 0.3) !important;
	box-shadow: inset 0 0 24px #bfff00;
	color: #ffff7f !important
}
.storebtn * {
	color: #ffff7f
}

.unavailablebtn,
.infinistorebtnlocked,
.newdimlocked,
.eternityupbtnlocked,
.dilationupglocked,
.bigripoff {
	transform: scale(1) !important;
	background: linear-gradient(#3f2f2f, transparent), rgba(31, 31, 31, 0.4) !important;
	color: #bf7f7f !important
}
.unavailablebtn *,
.infinistorebtnlocked *,
.newdimlocked *,
.eternityupbtnlocked *,
.dilationupglocked *,
.bigripoff * {
	color: #bf7f7f
}

.popup {
	background: linear-gradient(90deg, #07fb, #00fb) !important;
	border-color: transparent #00f transparent #00f;
	color: white !transparent;
}
.popup div, .popup span, .popup b {
	color: white !transparent;
}
.popup .storebtn {
	background: rgba(127, 191, 255, 0.3) !important;
	box-shadow: inset 0 0 24px #0000ff;
	color: #bfbfff !important
}

.chosen {
	transform: scale(1) !important;
	background: linear-gradient(#2f7f2f, transparent), rgba(31, 31, 31, 0.4) !important;
	color: #bfffbf !important
}
.chosen div, .chosen b {
	color: #7fff7f !important
}

#coinAmount, .antimatter {
	color: #00ffff !important
}

/* Challenges */
.challengediv {
	background: rgba(0, 127, 255, 0.5) !important;
	border-color: transparent #007fff transparent #007fff !important;
	color: #7fbfff !important
}

.infchallengediv {
	background: rgba(255, 223, 0, 0.5) !important;
	border-color: transparent #ffdf00 transparent #ffdf00 !important;
	color: #ffdf7f !important
}
.infchallengediv div, .infchallengediv span {
	color: #ffdf7f !important
}

.eterchallengediv {
	background: rgba(191, 0, 255, 0.5) !important;
	border-color: transparent #bf00ff transparent #bf00ff !important;
	color: #df7fff !important
}
.eterchallengediv div, .eterchallengediv span {
	color: #df7fff !important
}

.quantumchallengediv {
	background: rgba(127, 255, 0, 0.5) !important;
	border-color: transparent #7fff00 transparent #7fff00 !important;
	color: #bfff7f !important
}
.quantumchallengediv div, .quantumchallengediv span {
	color: #bfff7f !important
}

.challengesbtn {
	background: rgba(191, 255, 127, 0.3) !important;
	box-shadow: inset 0 0 24px #bfff00;
	color: #ffff7f !important
}
.lockedchallengesbtn {
	transform: scale(1) !important;
	background: linear-gradient(#3f2f2f, transparent), rgba(31, 31, 31, 0.4) !important;
	color: #ffbfbf !important
}
.onchallengebtn {
	transform: scale(1) !important;
	background: linear-gradient(#2f7f2f, transparent), rgba(31, 31, 31, 0.4) !important;
	color: #bfffbf !important
}
.completedchallengesbtn {
	background: #00bf00 !important;
	border-bottom: none !important;
	box-shadow: inset 0 0 24px #bfff00;
	color: #ffff7f !important
}

/* Galaxy */
.galaxybtn, .galaxyupgbtn {
	background: rgba(0, 79, 255, 0.5) !important;
	box-shadow: 0px 0px 24px #004fff7f;
	color: #7fc7ff !important
}
#galTable .infinistorebtnbought {
	transform: scale(1) !important;
	background: rgba(0, 79, 255, 0.75) !important;
	border-color: transparent !important;
	color: #7fc7ff !important
}
.galaxyupgbtn *,
#galTable .infinistorebtnbought * {
	color: #7fc7ff !important
}

/* Infinity */
.infinitybtn,
#infTabs .secondarytabbtn,
.infinistorebtn1, .infinistorebtn2, .infinistorebtn3, .infinistorebtn4, .infinimultbtn,
.newdim {
	background: rgba(255, 191, 0, 0.5) !important;
	border-top: 2px solid !important;
	box-shadow: 0px 0px 24px #ffbf00bf;
	color: #ffdf7f !important
}
.infinitybtn div, .infinitybtn b {
	color: #ffdf7f !important
}

.infinistorebtnbought {
	transform: scale(1) !important;
	background: rgba(255, 191, 0, 0.75) !important;
	border-bottom: none !important;
	color: #ffdf7f !important
}

#infinityPoints1, #infinityPoints2, .IPAmount {
	color: #ffdf7f !important;
}
#infPowAmount, #infDimMultAmount,
#replicantiamount, #replicantimult {
	font-weight: bold;
	color: #ff9f00 !important;
}

/* Eternity */
.eternitybtn,
#eterTabs .secondarytabbtn,
.eternityupbtn,
#eterctabbtn {
	background: rgba(191, 0, 255, 0.5) !important;
	border-top: 2px solid !important;
	box-shadow: 0px 0px 24px #bf00ffbf;
	color: #df7fff !important
}
.eternitybtn *, .eternityupbtn * {
	color: #df7fff !important
}

#eternityPoints2, .EPAmount2,
#timeShardAmount, #tickThreshold {
	font-weight: bold;
	color: #bf00ff !important
}

.eternityupbtnbought, .milestonereward {
	transform: scale(1) !important;
	background: rgba(191, 0, 255, 0.75) !important;
	border-bottom: none !important;
	color: #df7fff !important
}

.timestudy {
	background: rgba(191, 0, 255, 0.5) !important;
	border-color: transparent !important;
	box-shadow: inset 0px 0px 60px #bf00ff;
	color: #df7fff !important
}
.timetheorembtnlocked, .timestudylocked, .milestonerewardlocked {
	transform: scale(1) !important;
	background: linear-gradient(#3f2f2f, transparent), rgba(31, 31, 31, 0.4) !important;
	border-color: transparent !important;
	color: #ffbfbf !important
}
.timestudybought {
	transform: scale(1) !important;
	background: rgba(191, 0, 255, 0.75) !important;
	border-color: transparent !important;
	color: #df7fff !important
}
.timestudy *, .timestudybought * {
	color: #df7fff !important
}

/* Dilation */
.dilationbtn, .dilationupg {
	background: rgba(63, 191, 0, 0.75) !important;
	border-color: #00ff00 !important;
	box-shadow: 0 0 120px #00df00;
	color: #7fff7f !important
}
.dilationbtn *, .dilationupg * {
	color: #7fff7f
}
.dilationupgbought {
	transform: scale(1) !important;
	background: #1fbf1f !important;
	border-color: transparent !important;
	color: #7fff7f !important
}
#tachyonParticleAmount, #dilatedTimeAmount, #dilatedTimePerSecond, #galaxyThreshold, #dilatedGalaxies {
	color: #bfff7f !important
}

/* Meta */
#mdtabbtn button {
	background: rgba(0, 255, 255, 0.5) !important;
	border-color: #00ffff !important;
	color: #7fffff !important
}

/* Quantum */
.quantumbtn,
#quTabs .secondarytabbtn {
	background: rgba(63, 255, 0, 0.5) !important;
	border-top: 2px solid !important;
	box-shadow: 0px 0px 24px #3fff00bf;
	color: #9fff7f !important
}
.quantumbtn * {
	color: #bfff7f !important
}

.red {
	color: #ff3f3f
}
.lime {
	color: #9fff3f
}
.green, #quarks, .QKAmount, .SSAmount {
	color: #3fff3f
}
.blue {
	color: #3f3fff
}

.qu_upg, .qu_upg_bought {
	animation: none !important;
}
.qu_upg_bought {
	border-bottom: none !important;
	box-shadow: 0 0 24px green
}
.rg {
	background: linear-gradient(#f007, #0f03), radial-gradient(#0f07, transparent) !important;
	color: #ffb !important
}
.gb {
	background: linear-gradient(#0f07, #00f3), radial-gradient(#00f7, transparent) !important;
	color: #bff !important
}
.br {
	background: linear-gradient(#00f7, #f003), radial-gradient(#f007, transparent) !important;
	color: #fbf !important
}

.positron {
	background: rgba(255, 255, 0, 0.5) !important;
	color: #ffff7f !important
}

.antbtn,
#antTabs .secondarytabbtn {
    background: linear-gradient(#446, #112) !important;
    color: #aac !important;
	text-shadow: none;
}

.bigrip {
    background: linear-gradient(#030, #230) !important;
	box-shadow: 0px 0px 24px #bfff007f;
	color: #dfff7f !important
}
.bigrip * {
	color: #dfff7f !important
}

/* Fundament */
.ghostifybtn,
#fundaTabs .secondarytabbtn {
	background: linear-gradient(#1f007f, #3f007f) !important;
	border-top: 2px solid !important;
	box-shadow: 0px 0px 24px #7f00ff;
	animation: ghostifytext 4s linear infinite
}
.ghostifybtn:hover,
#fundaTabs .secondarytabbtn:hover {
	box-shadow: 0px 0px 24px #bf00ff;
	cursor: pointer
}
#ghostparticles, #GHPAmount {
	animation: ghostifytext 4s linear infinite
}
@keyframes ghostifytext { 
	0%{
		color: #bf7fff
	}
	50% {
		color: #9f3fff
	}
	100% {
		color: #bf7fff
	}
}

.autoBuyerDiv.on {
	background: linear-gradient(#0f07, transparent)
}

.hypo_btn {
	border-bottom: 0 solid !important;
	background: #fff1
}
.hypo_btn:hover {
	background: #fff3
}

/* Fixes */
.presPos1.newdimlocked, .presPos4.newdimlocked {
	transform: scale(1) translate(50%, 0) !important;
}
.presPos3.newdimlocked, .presPos6.newdimlocked {
	transform: scale(1) translate(-50%, 0) !important;
}